.custom-size {
  max-width:460px;
  max-height:190px;
  width: auto;
  height: auto;
}

.small-btc-address {
font-size: 5px;
}

.sized-256 {
    max-width: 256px;
    max-height: 256px;
}

.profile-picture-size{
    max-width: 125px;
    max-height: 125px;
}

.cstm-btn-red {
  background-color: rgb(223, 28, 47);
}

.cstm-dark {
  color: #0f2942;
}

.cstm-dark-bg {
  background-color: #1b3d58;
}


.white {
  color: white;
}

.bg-image {
  background-image:url('/../static/images/miscellanious/bg.jpg');
}

.header-shadow {
  text-shadow: 2px 2px #000000;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;;
}

.letter-spacing-wide {
  letter-spacing: .05em;
}

