{% extends 'layout.html' %}

{% block content %}
<section class="p-5">
        <div class="content-section row">
            <div class="media col-md-4">
                <div class="media-body text-center rounded">
                    <img class="rounded-3 account-img mt-3 profile-picture-size" src="static/images/miscellanious/default.png">
                    <h2 class="account-heading mt-3 mb-3">{{ current_user.username }}</h2>
                    <p>{{ current_user.email }}</p>
                    <p>Date Joined: <br>{{ current_user.date.strftime('%m-%d-%Y') }}</p>
                    <!-- static likes data for future add!
                    <p>Likes: 15</p>
                    <p>Liked: 235</p>
                    -->
                    <div>
                        <a href="{{ url_for('users.register')}}" class="btn cstm-btn-red fw-bold white font-roboto col mb-3">Edit Images</a>
                    </div>
                    <a class="btn cstm-btn-red fw-bold white font-roboto mb-3" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Account Settings</a>
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                        <div class="form-group mb-3">
                          <label class="mb-2" for="exampleInputPassword1">Change Username</label>
                          {% if form.username.errors %}
                            {{ form.username(class="form-control mb-1 is-invalid", placeholder="Enter username") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.username(class="form-control mb-1", placeholder="Enter username") }}
                        {% endif %}
                        </div>
                        <div class="form-group mb-3">
                          <label class="mb-2">Change Email address</label>
                          {% if form.email.errors %}
                            {{ form.email(class="form-control mb-1 is-invalid", placeholder="Enter email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.email(class="form-control mb-1", placeholder="Enter email") }}
                        {% endif %}
                        </div>
                        <div class="form-group mb-3">
                            {{form.picture.label(class="mb-3")}}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                            {{ form.submit(class="btn cstm-btn-red fw-bold white font-roboto mt-3 mb-2") }}

                      </form>
                    </div>
                  </div>
                </div>
            </div>

            <!-- My Images Section -->
            <div class="col-md-8 mt-4 mt-md-0">
                <div class="text-center">
                    <h2>My Images</h2>
                </div>
                {% for image in images %}
                {% if loop.index0 % 3 == 0 %}
                <div class="row text-center mt-3">
                {% endif %}
                    <div class="col">
                        <div class="card border-1">
                            <a href="{{ url_for('posts.edit', id=image.id) }}"><img class="card-img sized-256" src="https://piframebucket.s3.us-west-1.amazonaws.com/{{image.image_uuid}}"></a>
                            <div class="card-body d-none d-md-block">
                                <p class="mb-0 mt-0">{{ image.title }}</p>
                                <p class="mt-0">{{ image.date_posted.strftime('%m-%d-%Y') }}</p>
                            </div>
                        </div>
                    </div>
                    {% if loop.last and loop.index0 % 3 == 1 %}
                    <div class="col">
                        <div class="card border-0">
                                <div class="card-body">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if loop.last and loop.index0 % 3 == 0 %}
                    <div class="col">
                        <div class="card border-0">
                                <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0">
                                <div class="card-body">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% if loop.index0 % 3 == 2 or loop.last %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}