{% extends 'layout.html' %}


{% block content %}
    <section class="p-5">
         <div class="row">
            <div class="d-flex justify-content-center">
                <form class="text-center" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group mb-3">
                        <legend class="mb-4">{{ legend }}</legend>
                        {% if form.title.errors %}
                            {{ form.title(class="form-control mb-1 is-invalid", placeholder="Enter title") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.title(class="form-control mb-1", placeholder="Enter title") }}
                        {% endif %}
                    </div>
                    <div class="form-group mt-5">
                        {% if form.picture.errors %}
                            {{ form.picture(class="form-control-file mb-1 is-invalid", id="formFile", onchange="preview()") }}
                        <div class="invalid-feedback">
                            {% for error in form.picture.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.picture(class="form-control-file", id="formFile", onchange="preview()") }}
                        {% endif %}
                        </div>
                    <img id="frame" src="" class="img-fluid mt-5 border custom-size" />
                    <div class="text-center">
                        {{ form.submit(class="btn btn-primary mt-3 mb-2") }}
                    </div>
                  </form>
            </div>
         </div>
    </section>

    <script>
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }
    </script>

{% endblock content %}