{% extends 'layout.html' %}
{% block content %}
<section class="p-5">
    <div class="container">
        <div class="text-center">
            <img class="card-img sized-256" src="https://piframebucket.s3.us-west-1.amazonaws.com/{{image.image_uuid}}">
            <h2 class="mb-3 mt-3">{{ image.title }}</h2>
            <p class="">Date Posted: {{ image.date_posted.strftime('%m-%d-%Y') }}</p>
        </div>
        <form method="POST" action="">
            {{ form2.hidden_tag() }}
            <div class="form-group mb-3 d-flex flex-column align-items-center">
                {{ form2.set_active(class="btn cstm-btn-red fw-bold white font-roboto mt-3 mb-2 btn-sm") }}
            </div>
        </form>

        <div class="mt-5 text-center">
            <form method="POST" action="">
            {{ form.hidden_tag() }}
                <div class="form-group mb-3 d-flex flex-column align-items-center">
                    <label class="form-label">Update Title</label>
                    <div>
                        {{form.title(class="form-control mb-1", placeholder='Enter New Title')}}
                    </div>
                    {{ form.submit(class="btn cstm-btn-red fw-bold white font-roboto mt-3 mb-2 btn-sm") }}
                </div>
            </form>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger mt-5" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Image</button>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Image?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete', id=image.id)}}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}