{% extends 'layout.html' %}
{% block content %}
<!-- Hero -->
    <section class="bg-image text-light p-5 text-center">
        <div class="container">
            <div class="d-sm-flex justify-content-around align-items-center">
                <div>
                    <h1 class="font-roboto letter-spacing-wide header-shadow">MyFrame</h1>
                    <img class="img-fluid w-50 d-md-none" src="{{url_for('static', filename='images/miscellanious/my_frame.gif')}}" alt="My Frame Hero Banner">
                    <p class="lead font-roboto mt-3">The open source digital art frame.</p>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.setup') }}" class="mt-3 btn cstm-btn-red fw-bold white font-roboto">Setup Guide</a>
                    {% else %}
                        <a href="{{ url_for('users.register') }}" class="mt-3 btn cstm-btn-red fw-bold white font-roboto">Get Started</a>
                    {% endif %}
                </div>
                <img class="img-fluid w-50 d-none d-md-block" src="{{url_for('static', filename='images/miscellanious/my_frame.gif')}}" alt="My Frame Hero Banner">
            </div>
        </div>
    </section>

    <!-- Cards -->
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md d-flex">
                   <div class="card border-0">
                       <div class="card-body text-center">
                            <img src="{{url_for('static', filename='/images/miscellanious/github.png')}}" alt="" class="img-fluid mb-2">
                            <h3 class="card-title mb-3">Open Source</h3>
                            <p class="card-text">MyFrame is Open Source and we're always looking for new contributors!</p>
                        </div>
                        <div>
                            <a href="https://github.com/TroyLouis/MyFrame" class="mt-3 btn cstm-btn-red fw-bold white font-roboto">Github</a>
                        </div>
                   </div>
                </div>
                <hr class="d-block d-md-none">
                <div class="col-md d-flex">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <img src="{{url_for('static', filename='/images/miscellanious/check.png')}}" alt="" class="img-fluid mb-2">
                            <h3 class="card-title mb-3">Easy Setup</h3>
                            <p class="card-text">MyFrame is easy to setup and install. Grab your Rasberry Pi and start today! </p>
                        </div>
                        <div>
                            <a href="{{url_for('main.setup')}}" class="mt-3 btn cstm-btn-red fw-bold white font-roboto">Setup Guide</a>
                        </div>
                    </div>
                </div>
                <hr class="d-block d-md-none">
                <div class="col-md d-flex">
                    <div class="card border-0">
                        <div class="card-body text-center ">
                            <img src="{{url_for('static', filename='/images/miscellanious/community.png')}}" alt="" class="img-fluid mb-2">
                            <h3 class="card-title mb-3">Community</h3>
                            <p class="card-text">In the feed you will find eclectic images from our community members.</p>
                        </div>
                        <div>
                            <a href="{{ url_for('posts.browse') }}" class="mt-3 btn cstm-btn-red fw-bold white font-roboto">View Feed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Recent User Uploads-->

    <section class="p-5 cstm-dark-bg">
        <div class="container">
            <h2 class="text-center mb-4 font-roboto white header-shadow">
                Recent Uploads From Our Community
            </h2>
            <div class="row">
                {% for image in image %}
                <div class="col-md d-flex justify-content-center align-self-center">
                    <div class="card text-dark border-0 bg-light">
                       <div class="card-body text-center">
                            <a href="{{ url_for('posts.view_single_image', id=image.id)}}"><img class='sized-256' src="https://myframebucket.s3.amazonaws.com/{{image.image_uuid}}"></a>
                       </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Accordion -->
    <section id="questions" class="p-5">
        <div class="container">
            <h2 class="text-center mb-4">
                FAQ
            </h2>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        What do I need to build a MyFrame digital art frame?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <p>To build a MyFrame digital art frame you will need the following:</p>
                        <ul>
                            <li>
                                Internet connection
                            </li>
                            <li>
                                A <a href="https://www.raspberrypi.com/">Raspberry Pi</a>
                            </li>
                            <li>
                                A mouse and keyboard to connect to your Pi
                            </li>
                            <li>
                                Computer monitor or LED screen with USB ports.
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        How much does it cost to build a MyFrame digital art frame?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        This project is completely free besides the hardware. The cost of hardware can vary greatly, especially if you purchase new. We were able to put one together for under $150!
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Do I need to know how to code to build a MyFrame digital art frame?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        No! Setup is easy and you don't need any programming experience. Check out the <a href="{{url_for('main.setup')}}">setup guide</a> for more information!
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

<!-- Email signup -->

    <section class="p-5 cstm-dark-bg">
        <div class="container">
            <h2 class="white font-roboto text-center header-shadow">Sign Up For Our Newsletter</h2>
            <div class="d-flex justify-content-center mt-3">
                <input class="form-control" placeholder="Email Address">
            </div>
            <div class="text-center mt-3">
                <a href="" class="btn cstm-btn-red fw-bold white font-roboto">SIGN UP</a>
            </div>
        </div>
    </section>

<!--Donation -->
    <section class="p-5">
        <div class="container text-center">
            <h2>Enjoying MyFrame? Consider a donation!</h2>
            <div class="d-none d-sm-block">
                <h5 class="text-muted mt-2">MyFrame is opensource and free. That doesn't mean we don't need money for servers and storage!</h5>
                <!--
                <p class="small mt-3 mb-0 ">Please consider a donation to help us cover the ongoing costs of hosting and storing data.</p>
                <p class="small mt-0">With enough donations, we will be able to spend more time on this project!</p>
                -->
            </div>
            <div class="row">
                <div class="col text-end">
                    <img class='img-fluid text-center' src="{{ url_for('static', filename='images/miscellanious/btc.png') }}">
                </div>
                <div class="col text-start">
                    <img src="{{ url_for('static', filename='images/miscellanious/eth.png') }}">
                </div>
            </div>
        </div>
        <div class="mt-2">
            <p class="text-center small-btc-address d-block d-sm-block d-md-none">0x42dd885f27b8258e904A593C73b32493EcE38781</p>
            <p class="text-center d-none d-md-block">0x42dd885f27b8258e904A593C73b32493EcE38781</p>

        </div>
    </section>

{% endblock %}



