{% extends 'layout.html' %}
{% block content%}
<section class="p-5">
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <h1 class="p-3">Register Your Account</h1>
            <div class="col-6">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-group mb-3">
                      <label class="mb-2">Username</label>
                        {% if form.username.errors %}
                            {{ form.username(class="form-control mb-1 is-invalid", placeholder="Enter username") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.username(class="form-control mb-1", placeholder="Enter username") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-3">
                      <label class="mb-2" for="exampleInputEmail1">Email address</label>
                        {% if form.email.errors %}
                            {{ form.email(class="form-control mb-1 is-invalid", placeholder="Enter username") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.email(class="form-control mb-1", placeholder="Enter email") }}
                        {% endif %}
                        </div>
                    <div class="form-group mb-3">
                      <label class="mb-2" for="exampleInputPassword1">Password</label>
                        {% if form.password.errors %}
                            {{ form.password(class="form-control mb-1 is-invalid", placeholder="Enter username") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control mb-1", placeholder="Enter username") }}
                        {% endif %}
                        </div>
                    <div class="form-group mb-3">
                      <label class="mb-2" for="exampleInputPassword1">Re-type Password</label>
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control mb-1 is-invalid", placeholder="Enter username") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control mb-1", placeholder="Enter username") }}
                            {% endif %}
                        </div>
                    <div class="text-center">
                        {{ form.submit(class="btn btn-primary mt-3 mb-2") }}
                    </div>
                  </form>
            </div>
            <p class='mt-5'>Already have an account? <a href="{{ url_for('login') }}" class="text-decoration-none">Login</a></p>
        </div>
    </div>

</section>
{% endblock content%}